<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new veteran form has been submitted.</h1>
    <p>
      There is a new veteran application.  Please view this reecord at <a href="<%= @url %>"><%="#{@person.first_name} #{@person.last_name}"%></a>.<br>
    </p>
  </body>
</html>